.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.left-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.left-link a{
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8
}

.right-links{
    display: flex;
    gap: 10px;
    padding-right: 50px;
}

.right-links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
}

.hero{
    background-color: #1F2937;
}