.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.left-link{
    display: flex;
    align-items: center;
    
}

.left-link a{
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8
}

.right-links{
    display: flex;
    gap: 10px;
    
}

.right-links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image{
    width: 300px;
}

.hero-button{
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 20px;
    border-color: #3882f6
}



.info-text{
    display: flex;
    justify-content: center;
   font-weight: bold;
   font-size: 36px;
   color: #1F2937;
   
}

.info-images{
    display: flex;
    justify-content: space-evenly;
}

.image{
    flex: 25%
    
}

.info-image{
    width: 75%;
    border: 5px solid #555;
    border-radius: 50px;
    border-color: #3882f6;
}

.quote{
    background: #E5E7EB;
}

.quote-text{
    
}

.quote-text-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: italic;
    color: #1F2937
}

.quote-sig{
    display: flex;
    justify-content:center;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;

}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section{
    display: flex;
    background-color:#3882f6;
    padding: 50px;
    border-radius: 20px;
    margin: 30px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.cta-right{
    display: flex;
    align-items: center;
}

.cta-main-text{
    font-size: 24px;
    color: white;
}

.cta-left{
    color: #ffffff;
    
}

.cta-button{
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 20px;
    border-color: #ffffff;
     
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color: #F9FAF8;
}